.o-container {
    margin: 0 auto;
    max-width: 1140px;
    clear: both;
}

[class*="o-col"] {
    display: inline-block;
    padding: $spacing-x-small;
    vertical-align: top;
}

.o-container-padding-bottom__none {
    [class*="o-col"] {
        padding-bottom: 0;
    }
}

.o-container-padding-all__none {
    [class*="o-col"] {
        padding: 0;
    }
}
.o-container-padding-bottom__x-small {
    [class*="o-col"] {
        padding-bottom: $spacing-x-small;
    }
}

@mixin columns($columns, $breakpoint: null) {
    @each $row in $columns {
        @for $column from 1 through $row {
            .o-col-#{$column}\/#{$row}#{$breakpoint} {
                width: ($column / $row) * 100% !important;
            }
            .o-push-#{$column}\/#{$row}#{$breakpoint} {
                position: relative;
                right: auto;
                left: ($column / $row) * 100% !important;
            }
            .o-pull-#{$column}\/#{$row}#{$breakpoint} {
                position: relative;
                right: ($column / $row) * 100% !important;
                left: auto;
            }
        }
        .u-show#{$breakpoint} { visibility: visible; display: block; }
        .u-hide#{$breakpoint} { visibility: collapse; display: none; }
    }
}

@include columns(1 2 3 4 5 6);

@each $alias, $bp in $mq-breakpoints {
    @include mq($from: $bp) {
        @include columns(1 2 3 4 5 6, __#{$alias});
    }
}
